<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form class="mb-3" th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="name">Enter name</label>
    <input class="form-control" type="text" th:field="*{name}" id="name" required/>
    <br/>
    <label for="surname">Enter surname</label>
    <input class="form-control" type="text" th:field="*{surname}" id="surname" required/>
    <br/>
    <label for="password">Enter password</label>
    <input class="form-control" type="text" th:field="*{password}" id="password" required/>
    <br/>
    <div>
        <label><strong>Roles</strong>:</label>
        <div th:each="role : ${user.getRoles()}">
            <input type="checkbox" th:name="roles" th:value="${role.roleId}" id="role-${role.roleId}"
                   th:checked="${false}"/>
            <label th:for="${'role-' + role.roleId}" th:text="${role.name}"></label>
        </div>
        <br/>

        <input type="submit" value="Create!"/>
    </div>
</form>

</body>
</html>