<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div>
  Delete User
  <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}" th:object="${user}">
    <input type="text" disabled th:field="*{id}">
    <label for="username"> name: </label>
    <input type="text" th:field="*{username}" id="username">
    <label for="email"> last name: </label>
    <input type="text" th:field="*{email}" id="email">
    <label for="roles"> age: </label>
    <input type="text" th:field="*{roles}" id="roles">
    <input type="submit" value="delete">
  </form>

</div>
</body>
</html>