<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>

</head>
<body>
<form class="mb-3" th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
    <table>
        <tr>
            <td class="mb-3">
                <label for="userId">UserId</label>
                <input class="form-control" readonly type="number" th:field="*{userId}" id="userId"
                       placeholder="UserId">
            </td>
        </tr>
        <tr>
            <td class="mb-3">
                <label for="name">Enter name</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" required/>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
            </td>
        </tr>
        <tr>
            <td class="mb-3">
                <label for="surname">Enter surname</label>
                <input class="form-control" type="text" th:field="*{surname}" id="surname"/>
                <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname error</div>
            </td>
        </tr>
        <tr>
            <td class="mb-3">
                <label for="password"><b>Password</b></label>
                <input th:name="password" th:type="password" class="form-control"
                       id="password"/>
            </td>
        </tr>
        <div>
            <label><strong>Roles</strong>:</label>
            <div th:each="role : ${user.getRoles()}">
                <input type="checkbox" th:name="roles" th:value="${role.roleId}" id="role-${role.roleId}"
                       th:checked="${false}"/>
                <label th:for="${'role-' + role.roleId}" th:text="${role.name}"></label>
            </div>
        </div>
        <br/>
        <br>
        <tr>
            <td>
                <input type="submit" value="Edit user"/>
            </td>
        </tr>
    </table>
</form>

</body>
</html>