<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <span class="align-middle fw-bold" th:text="${user.name}"></span>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:each="role : ${user.authorities}" th:text="${role.authority} + ' '">
            </span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-white bs-side-navbar">
                <div class="navbar-nav flex-column w-100">
                    <a class="nav-link btn btn-primary btn-block text-white"
                       th:href="@{/admin/}"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/admin/' ? 'active' : ''}">ADMIN</a>
                    <a class="nav-link btn btn-primary btn-block text-white"
                       th:href="@{/user/}"
                       th:classappend="${#httpServletRequest.getRequestURI() == '/user/' ? 'active' : ''}">USER</a>
                </div>
            </nav>
        </div>

        <div class="col-lg-10">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs" id="adminTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tableButton" data-bs-toggle="pill" data-bs-target="#table"
                       type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="newUserButton" data-bs-toggle="pill" data-bs-target="#newUser" type="button"
                       role="tab" aria-controls="v-pills-profile" aria-selected="false">New user</a>
                </li>
            </ul>
            <div class="tab-content col" id="adminTabsContent">
                <div class="tab-pane fade show active card" id="table" role="tabpanel" aria-labelledby="tableButton"
                     tabindex="0">
                    <h5 class="card-header">All users</h5>
                    <table class="table table-striped">
                        <th scope="col">Id</th>
                        <th scope="col">first name</th>
                        <th scope="col">last name</th>
                        <th scope="col">role</th>
                        <th scope="col">edit</th>
                        <th scope="col">delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="person : ${table}">
                            <td th:text="${person.userId}"/>
                            <td th:text="${person.name}"/>
                            <td th:text="${person.surname}"/>
                            <td th:text="${person.roles}"/>
                            <td>
                                <!--                        <a class="btn btn-info" th:href="@{'/admin/edit?id=' + ${person.userId}}" role="button">EDIT</a>-->
                                <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                   data-bs-target="#edit_modal"
                                   th:data-bs-target="${'#edit_modal' + person.userId}">Edit</a>
                            </td>

                            <td>
                                <!--                    <div class="container py-5 text-center">-->
                                <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                   data-bs-target="#delete_modal"
                                   th:data-bs-target="${'#delete_modal' + person.userId}">Delete</a>

                                <!--                    </div>-->
                            </td>
                            <div class="modal fade" th:id="${'edit_modal' + person.userId}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" modal-dialog-centered>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="edit_ModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form th:action="@{/admin/edit(id=${person.userId})}" th:object="${user}"
                                              th:method="POST">
                                            <div class="modal-body col-md text-center">
                                                <label for="userId"><b>userId</b></label>
                                                <input th:name="userId" th:type="text" th:value="${person.getUserId()}"
                                                       disabled class="form-control" id="userId" required/>
                                                <br>
                                                <label for="name"><b>Name</b></label>
                                                <input th:name="name" th:type="text" th:value="${person.name}"
                                                       class="form-control" id="name1" required/>
                                                <br>
                                                <label for="surname"><b>Surname</b></label>
                                                <input th:name="surname" th:type="text" th:value="${person.surname}"
                                                       class="form-control" id="surname1" required/>
                                                <br>
                                                <label for="password"><b>Password</b></label>
                                                <input th:name="password" th:type="password"
                                                       th:value="${person.getPassword()}" class="form-control"
                                                       id="password1"/>
                                                <br>
                                                <label><strong>Roles</strong>:</label>
                                                <div th:each="role : ${user.getRoles()}">
                                                    <input type="checkbox" th:name="roles" th:value="${role.roleId}" id="role-${role.roleId}"
                                                           th:checked="${false}"/>
                                                    <label th:for="${'role-' + role.roleId}" th:text="${role.name}"></label>
                                                </div>
                                                <br><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    Save
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                            <br>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" th:id="${'delete_modal' + person.userId}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <form class="modal-body col-md text-center"
                                              th:action="@{/admin/delete(id=${person.userId})}"
                                              th:method="POST">
                                            <div class="modal-body col-md text-center">
                                                <label for="id"><b>Id</b></label>
                                                <input th:name="id" th:type="text" th:value="${person.getUserId()}"
                                                       disabled
                                                       class="form-control" id="id2" required/>
                                                <br>
                                                <label for="name"><b>Name</b></label>
                                                <input th:name="name" th:type="text" th:value="${person.name}" disabled
                                                       class="form-control" id="name2" required/>
                                                <br>
                                                <label for="surname"><b>Surname</b></label>
                                                <input th:name="surname" th:type="text" th:value="${person.surname}"
                                                       disabled
                                                       class="form-control" id="surname2" required/>
                                                <br>
                                                <label for="roles2"><b>Role</b></label>
                                                <select multiple class="form-control form-control-sm" id="roles2"
                                                        name="role"
                                                        size="2" disabled>
                                                    <option th:value="USER">USER</option>
                                                    <option th:value="ADMIN">ADMIN</option>
                                                </select>
                                                <br><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-danger">
                                                    Delete
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade card" id="newUser" role="tabpanel" aria-labelledby="newUserButton"
                     tabindex="0">
                    <h5 class="card-header">Add new user</h5>
                    <div class="col-md bg-white border">
                        <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4"
                              th:align="center"
                              th:action="@{/admin/new}"
                              th:object="${user}"
                              method="POST">
                            <label for="name"><b>Name</b></label>
                            <input th:name="name" th:type="text" class="form-control" id="name" required/>
                            <br>
                            <label for="surname"><b>Surname</b></label>
                            <input th:name="surname" th:type="text" class="form-control" id="surname" required/>
                            <br>
                            <label for="password"><b>Password</b></label>
                            <input th:name="password" th:field="*{password}" th:type="password" class="form-control"
                                   id="password"/>
                            <br>
                            <label><strong>Roles</strong>:</label>
                            <div th:each="role : ${user.getRoles()}">
                                <input type="checkbox" th:name="roles" th:value="${role.roleId}" id="role-${role.roleId}"
                                       th:checked="${false}"/>
                                <label th:for="${'role-' + role.roleId}" th:text="${role.name}"></label>
                            </div>
                            <br>
                            <button th:type="submit" class="btn btn-success" value="Add new user">Add new user
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
</body>

</html>